<!--</head>-->
<!--<body>-->
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--<title>{{title}}</title>-->
<!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
<form method="post" enctype="multipart/form-data" action="/uploadImage">
    <div>
        <label for="file">Choose file to upload</label>
        <input type="file" id="file" name="file" multiple>
        <input type="Submit" value="upload">
    </div>
    <!--<div>-->
        <!--<button>Submit</button>-->
    <!--</div>-->
</form>
<!--</body>-->
<!--</html>-->
